<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th=&quot;http://www.thymeleaf.org&quot;>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="/portal">Portal</a> <a href="/contato">Contato</a> <a href="/servicos">Servicos</a> <a href="/perfil">Perfil</a> 
            </nav>
        </header>            
        <h2>Nome do Usuário: <span th:text="${nome}"></span></h2>
        <h3>Nome do Curso: <span th:text="${curso}"></span></h3>
        <h3>Linguagem Favorita: <span th:text="${linguagemFavorita}"></span></h3>
    </body>
</html>
