<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="/Portal">Portal</a> <a href="/Contato">Contato</a> <a href="/Servicos">Servicos</a>
        <header>
            <h1>Página de Serviços</h1>
        </header>
        <main>
            <p>Esta é a página de serviços</p>
        </main>    
    </body>
</html>
